.content {
  margin-left: 220px;
  margin-top: 20px;
  padding-top: 20px;
}
.content h2 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 36px;
  color: #000;
}

.welcome-section {
  margin: 30px 30px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-section h5 {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  color: #7d8592;
}

.welcome-section p {
  font-size: 14px;
  color: #666;
  margin: 5px 0 0;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
  padding-bottom: -20px;
}

.section-header h5 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.view-all {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.view-all:hover {
  text-decoration: underline;
}

/* Workload Section */
.workload-section {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: #fff;
  border-radius: 24px;
  padding: 5px 16px 5px;
  max-height: 470px;
  height: 100%;
}

.workload-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.workload-card {
  display: flex;
  align-items: center;
  background-color: #f4f9fd;
  flex-direction: column;
  padding: 10px 5px;
  gap: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 15px;
  border: #ff4d4d solid 2px;
}

.workload-info h3 {
  margin: 0;
  color: #333;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

.workload-info p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin: 2px 0 0;
}

.workload-info .status {
  display: inline-block;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
  margin-top: 5px;
  text-align: center;
}

.status.critical {
  background-color: #ffe6e6;
  color: #ff4d4d;
  text-align: center;
}

.status.medium {
  background-color: #fff3e0;
  color: #ff9800;
  text-align: center;
}

.status.hidden {
  background-color: #e6f7ff;
  color: #1890ff;
}

.status.low {
  background-color: #e6ffe6;
  color: #52c41a;
}

/* Nearest Events Section */
.events-section {
  grid-row: 1 / 2;

  background: #fff;
  border-radius: 24px;
  padding: 20px 24px;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.event::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  width: 4px; /* Толщина полоски */
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;
}
.event-date p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.event-date {
  /* width: 100px; */
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-info h3 {
  font-size: 16px;
  margin: 0;
  color: #333;
}
.event-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-info p {
  font-size: 14px;
  color: #0ac947;

  margin: 2px 0 0;
}

/* Projects Section */
.projects-section {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.projects-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.project-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
}

.project-card::after {
  content: "";
  position: absolute;
  left: 390px;
  top: 0;
  width: 2px; /* Толщина полоски */
  height: 100%;
  background-color: #e4e6e8;
  border-radius: 5px;
}

.project-header {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 10px;
}

.project-header h3 {
  display: flex;
  flex-direction: column;
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
}
.project-header span {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #91929e;
}

.project-header .status {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 12px;
}

.project-data {
  display: flex;
  align-items: center;
  gap: 73px;
}
.project-data p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-card p {
  font-size: 14px;
  color: #666;
  margin: 0 0 10px;
}

.project-stats {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 100px;
  gap: 10px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.stat .label {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;

  color: #666;
}

.stat .value {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.assignees p {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #91929e;
}
.assignees img {
  border: #fff solid 3px;
  border-radius: 50%;
  max-width: 24px;
  margin: -5px;
}

/* Active Stream Section */
.stream-section {
  background: #fff;
  padding: 18px;
  border-radius: 18px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.stream-section a{
 text-align: center;
}
.stream-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.stream-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 14px;
}

.stream-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stream-link h3 {
  font-family: Nunito Sans;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.stream-link span {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 14px;
 
  color: #91929e;
}


.stream-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}


.stream-info p {
  display: flex;
  align-items: center;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 10px;
  background: #f4f9fd;
  border-radius: 24px;
  gap: 10px;
}
